
.loginButton:hover{
	
	-fx-text-fill: blue;
}

.closeButton:hover{
	
	-fx-text-fill: blue;

}
.createAccountScreenButton:hover{
	
	-fx-text-fill: blue;
}

.cancelCreateAccountButton:hover{
	
	-fx-text-fill: blue;
}

.createAccountButton:hover{
	
	-fx-text-fill: blue;
}

.goToLoginPageButton:hover{
	
	-fx-text-fill: blue;
}
.button:hover{
	-fx-text-fill: blue;
}

.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-bar:vertical{
    -fx-background-color:transparent;
}
.scroll-bar:horizontal{
    -fx-background-color:transparent;
}
.table-view{
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #b4bec3;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #454b4f;
}

 
.table-row-cell:selected {
    -fx-background-color: #005797;

}
.scroll-bar:vertical .thumb{
    -fx-background-color:#b4bec3;
}
.scroll-bar:horizontal .thumb{
    -fx-background-color:#b4bec3;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #454b4f;
}
 
.table-view .table-cell{
    -fx-text-fill: #b4bec3;
}

.alert{
	-fx-background-color:#b4bec3;
}	
.alert:header *.header-panel{
    -fx-background-color: #b4bec3;
}



.chart-pie-label-line {
    -fx-stroke: #b4bec3;
    -fx-fill: #b4bec3;
}

.chart-pie-label { 
    -fx-fill: #b4bec3;
    -fx-font-size: 1em;
} 
.chart-legend {
   -fx-background-color:  #b4bec3;
   -fx-fill: #b4bec3;
}

.chart-title {
	
  -fx-text-fill: #b4bec3;
  -fx-font-size: 1.6em;
}
