/bin/
BetterBallot App/.idea/workspace.xml
BetterBallot App/.idea/vcs.xml
Gangsta-MidtermElectionApp/Gangsta-MidtermElectionApp.iml
Gangsta-MidtermElectionApp/.idea/modules.xml
Gangsta-MidtermElectionApp/.idea/misc.xml
Gangsta-MidtermElectionApp/.idea/workspace.xml
